scripts/basic/
scripts/kconfig/
.config
*.builtin
*.o
*.cmd
*.d
*.order
.version
arch/arm/kernel/asm-offsets.s
include/config/
include/generated/
include/linux/version.h
kernel/bounds.s
.tmp_System.map
.tmp_kallsyms1.S
.tmp_kallsyms2.S
.tmp_versions/
.tmp_vmlinux1
.tmp_vmlinux2
Module.symvers
System.map
arch/arm/boot/compressed/lib1funcs.S
arch/arm/boot/compressed/piggy.gzip
arch/arm/boot/compressed/vmlinux
arch/arm/lib/lib.a
drivers/net/kineto_gan.ko
drivers/net/kineto_gan.mod.c
drivers/net/wireless/bcm4329_248/bcm4329.ko
drivers/net/wireless/bcm4329_248/bcm4329.mod.c
drivers/spi/spidev.ko
drivers/spi/spidev.mod.c
drivers/video/backlight/lcd.ko
drivers/video/backlight/lcd.mod.c
lib/lib.a
vmlinux

